@model IEnumerable<ProjetoComSenha.Models.JogoModelView>

@{
    ViewData["Title"] = "ListaJogos";
}

<h2>Lista de Jogos</h2>

<form>
    <input type="text" name="name" value="" />
    <button type="submit" formaction="@Url.Action("ListaJogos")">Teste</button>
</form>

<p>
    <a asp-action="CreateJogo">Create New</a>
</p>
<p>
    <a asp-action="ListaJogosRelatorio">Relatório</a>
</p>

<section class="page-section pt-2">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-content pt-3">
                    <div class="card card-shadow-sm">
                        <div class="card-body">
                            <table id="tabelaPrincipal" class="table table-template table-striped table-bordered text-sm">
                                <thead>
                                    <tr>
                                        <th>@Html.DisplayNameFor(model => model.NoJogo)</th>
                                        <th>@Html.DisplayNameFor(model => model.DsJogo)</th>
                                        <th>@Html.DisplayNameFor(model => model.TipoJogo)</th>
                                        <th>@Html.DisplayNameFor(model => model.JogadoresRegistrados)</th>
                                        <th>@Html.DisplayNameFor(model => model.JogadoresOnline)</th>
                                        <th>@Html.DisplayNameFor(model => model.CodigoPromocional)</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.NoJogo)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.DsJogo)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.TipoJogo.TipoJogoId)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.JogadoresRegistrados)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.JogadoresOnline)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.CodigoPromocional)
                                            </td>
                                            <td>
                                                <div class="d-flex justify-content-center">
                                                    @*<a asp-action="Edit" asp-route-id="@item.JogoModelViewId">Edit</a> |
                                                        <a asp-action="Details" asp-route-id="@item.JogoModelViewId">Details</a> |
                                                        <a asp-action="Delete" asp-route-id="@item.JogoModelViewId">Delete</a>*@
                                                    <button type="button" class="btn btn-info btn-sm mr-1" title="Visualizar detalhes" data-toggle="modal" data-target="#exampleModalCenter" asp-action="CarregaModal">
                                                        <i class="fas fa-eye"></i>
                                                    </button>
                                                    <button type="button" class="btn btn-info btn-sm mr-1" title="Visualizar detalhes" onclick="obtemDadosJogo()">
                                                        <i class="fa fa-arrow-left"></i>
                                                    </button>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div>
    <partial name="~/Views/Shared/_ListaJogos.cshtml" />

    @*@{Html.RenderPartialAsync("~/Views/Shared/_ListaJogos.cshtml");}*@

    @*@{Html.RenderAction("Test", "Controller");}*@

    @*@await Component.InvokeAsync("~/Views/Shared/_ListaJogos.cshtml")*@
</div>

<!-- Modal de informações do jogo -->
<div class="modal fade" id="modalAuxiliar" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" id="divDadosModal">

        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    <script src="~/js/partidas.js"></script>
    <script>
        // Tabela 6 - Lista de notificações
        $(document).ready(function () {
            $('#tabelaPrincipal').DataTable({
                order: [
                    [0, "desc"]
                ],
                columnDefs: [{
                    "orderable": false,
                    "targets": [5]
                }
                ],
                language: {
                    url: "/datatables/Portuguese-Brasil.json"
                }
            });

        });
    </script>
}