@model IEnumerable<ProjetoComSenha.Models.TipoJogo>

@{
    ViewData["Title"] = "ListaTiposJogos";
}

<h2>ListaTiposJogos</h2>

<p>
    <a asp-action="CreateTipoJogo">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NoTipoJogo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DsTipoJogo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QtdMaxJogadores)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NoTipoJogo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DsTipoJogo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QtdMaxJogadores)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TipoJogoId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TipoJogoId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TipoJogoId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
