@model IEnumerable<ProjetoComSenha.Models.JogoModelView>

@{
    ViewData["Title"] = "ListaJogos";
}

<h2>ListaJogos</h2>

<p>
    <a asp-action="CreateJogo">Create New</a>
</p>

<section class="page-section pt-2">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-content pt-3">
                    <div class="card card-shadow-sm">
                        <div class="card-body">
                            <table id="tabelaPrincipal" class="table table-template table-striped table-bordered text-sm">
                                <thead>
                                    <tr>
                                        <th>@Html.DisplayNameFor(model => model.NoJogo)</th>
                                        <th>@Html.DisplayNameFor(model => model.DsJogo)</th>
                                        <th>@Html.DisplayNameFor(model => model.TipoJogo)</th>
                                        <th>@Html.DisplayNameFor(model => model.JogadoresRegistrados)</th>
                                        <th>@Html.DisplayNameFor(model => model.JogadoresOnline)</th>
                                        <th>@Html.DisplayNameFor(model => model.CodigoPromocional)</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.NoJogo)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.DsJogo)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.TipoJogo.TipoJogoId)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.JogadoresRegistrados)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.JogadoresOnline)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.CodigoPromocional)
                                            </td>
                                            <td>
                                                <div class="d-flex justify-content-center">
                                                    @*<a asp-action="Edit" asp-route-id="@item.JogoModelViewId">Edit</a> |
                                                    <a asp-action="Details" asp-route-id="@item.JogoModelViewId">Details</a> |
                                                    <a asp-action="Delete" asp-route-id="@item.JogoModelViewId">Delete</a>*@
                                                    <button type="button" class="btn btn-info btn-sm mr-1" data-toggle="tooltip" title="Visualizar detalhes">
                                                        <i class="fas fa-eye"></i>
                                                    </button>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {

    <script>
        // Tabela 6 - Lista de notificações
        $(document).ready(function () {
            $('#tabelaPrincipal').DataTable({
                order: [
                    [0, "desc"]
                ],
                columnDefs: [{
                    "orderable": false,
                    "targets": [5]
                }
                ],
                language: {
                    url: "/datatables/Portuguese-Brasil.json"
                }
            });
        });
    </script>
}