@model cliente.service.ListaJogosModelView

<table id="tabelaPrincipal" class="table table-template table-striped table-bordered text-sm">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.NoJogo)</th>
            <th>@Html.DisplayNameFor(model => model.DsJogo)</th>
            <th>@Html.DisplayNameFor(model => model.TipoJogoId)</th>
            <th>@Html.DisplayNameFor(model => model.JogadoresRegistrados)</th>
            <th>@Html.DisplayNameFor(model => model.JogadoresOnline)</th>
            <th>@Html.DisplayNameFor(model => model.CodigoPromocional)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.JogoModelView != null)
        {
            foreach (var item in Model.JogoModelView)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.NoJogo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DsJogo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TipoJogoId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.JogadoresRegistrados)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.JogadoresOnline)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CodigoPromocional)
                    </td>
                    <td>
                        <div class="d-flex justify-content-center">
                            <button type="button" class="btn btn-info btn-sm mr-1" title="Visualizar detalhes" data-toggle="modal" data-target="#exampleModalCenter" asp-action="CarregaModal">
                                <i class="fas fa-eye"></i>
                            </button>
                            <button type="button" class="btn btn-info btn-sm mr-1" title="Visualizar detalhes" onclick="obtemDadosJogo()">
                                <i class="fa fa-arrow-left"></i>
                            </button>
                        </div>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>