@model aspNetCore.Models.Usuario

@{
    ViewData["Title"] = "Resultado";
}

<h1>Resultado</h1>

<fieldset>
    <legend>Dados do usuário</legend>

    <div class="editor-label">
        @Html.DisplayNameFor(model => model.Nome)
    </div>
    <div class="editor-field">
        @Html.DisplayFor(model => model.Nome)
    </div>

    <div class="editor-label">
        @Html.DisplayNameFor(model => model.Login)
    </div>
    <div class="editor-field">
        @Html.DisplayFor(model => model.Login)
    </div>

    <div class="editor-label">
        @Html.DisplayNameFor(model => model.Email)
    </div>
    <div class="editor-field">
        @Html.DisplayFor(model => model.Email)
    </div>

    <div class="editor-label">
        @Html.DisplayNameFor(model => model.Senha)
    </div>
    <div class="editor-field">
        @Html.DisplayFor(model => model.Senha)
    </div>

    <div class="editor-label">
        @Html.DisplayNameFor(model => model.ConfirmacaoSenha)
    </div>
    <div class="editor-field">
        @Html.DisplayFor(model => model.ConfirmacaoSenha)
    </div>

    <br />
    <br />
    <p>@Html.ActionLink("Voltar", "Privacy")</p>
</fieldset>
